     <link rel="stylesheet" href="/css/style.css">

 <header class="container">
        <div>
            <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo">
        </div>
        <div class="box-btn">
              <a href="/inclusion/dados">Acesso Prefeitura</a>
            <a href="">Welcome to site</a>
                {{!-- <button id="btnLogin" class="btn-entrar"></button> --}}
        </div>
    </header>