    <link rel="stylesheet" href="/css/style.css">
 <header class="container">
        <div>
            <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo">
        </div>
        <div class="box-btn">

                <button id="btnLogin" class="btn-entrar">Sair </button>
        </div>
    </header>