<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dados.css">
    <title>Document</title>
</head>
<body>
    
<style>
  .navbar{
    height: 7rem !important;
    border-bottom: 1px solid #97feed83;
  }
  .btn-entrar{
    border: 2px solid #97FEED  !important ;
    background-color: #071952 !important ;
    color: white; font-size: 1.3rem !important ;
    border-radius: 14px; width: 7rem; height: 2.4rem !important ;
}
</style>




<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container">
    <a class="navbar-brand" href="">
                 <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo Inclusion Map">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
         
           <a href="/inclusion/logout"><button  class="btn-entrar  ">Logout</button></a>

        </li>


      </ul>
    </div>
  </div>
</nav>



    <section class="container-count">
<div class="todes show2"> </div>
            <div class="titulo">
                <div class="d">
                    <h2>  ESSE É O NÚMERO DE PCD’S <br> CADASTRADOS ATUALMENTE : </h2>
                </div>
                 <div class="count">
                   <div class="count-roda"> <p>{{count}}</p> </div>
                    <div class="link-mostrar">
                        <a href="/inclusion/login/{{id}}">Visualizar Meu Perfil</a>
                    </div>
                 </div>
            </div>
       

        
    </section>

<script type="module" src="/script/mostrar.js"></script>
</body>
</html>