<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">

    <title>HOME</title>
</head>

<body>



<style>
  .navbar{
    height: 7rem !important;
    border-bottom: 1px solid #97feed83;
  }
  .btn-entrar{
    border: 2px solid #97FEED  !important ;
    background-color: #071952 !important ;
    color: white; font-size: 1.3rem !important ;
    border-radius: 14px; width: 7rem; height: 2.4rem !important ;
}

</style>


<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container">
    <a class="navbar-brand" href="/">
                 <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo Inclusion Map">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
         
           <button  class="btn-entrar  " data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Entrar</button>

        </li>

      </ul>
    </div>
  </div>
</nav>


    <section class="body-img">
        <div class="info">
            <h2>
                Sistema de cadastro <br> online, para uma <br> cidade mais inclusiva:
            </h2>
            <p>
                Administração pública facilitada, suprindo a necessidade <br> de pessoas PCD’s.
            </p>
            <div class="box-cadas">
                <button class="btn-cadastro" id="btn">
                    Cadastre-se
                </button>
            </div>
        </div>
    </section>


    {{!-- Quem somos nos? --}}
    <section class="showWe sobre-nos">  </section>


    {{!-- Modlal Cadastro --}}


    <div class="BoxmodalCadastro backdrop" id="modalCadastro">
        <div class="modalCadastro">
            <span id="close">x</span>
            <h2>Cadastrar PCD</h2>
            <form action="/inclusion/home" method="post">
                <div>
                    <input type="text" name="nome" placeholder=" Digite seu nome completo">
                </div>
                <div>
                    <input type="text" name="email" placeholder=" email">
                </div>
                <div>
                    <input type="password" name="senha" placeholder="senha">
                </div>
                <div>
                    <input type="text" name="cpf" placeholder=" CPF">
                </div>
                <div>
                    <input type="text" name="descricao" placeholder=" Descreva a sua deficiência">
                </div>
                <div>
                    <textarea type="text" name="dificuldade">Digite aqui onde e quais são suas dificuldades:</textarea>
                </div>
                <!-- Enviar informações para o banco -->
                <div>
                    <a href=""><input id="submit-cadastro" type="submit" value="Cadastrar"></a>
                </div>
            </form>
        </div>
    </div>







   


    <footer>

<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z"></path></g></g>
</svg>
<p></p>      ㅤ    @projeto.Integrador
   </footer>


    <script src="/script/app.js"></script>
    <script src="/script/mostrar.js"></script>
</body>

</html>